body {
    margin: 0;
    padding: 0;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.col {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav {
    width: 50px;
}

.options {
    width: 200px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 0 15px;
}

#board {
    flex: 1;
}

.in3 {
    width: 30px;
}