body {
    margin: 0;
    padding: 0;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.col {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav {
    width: 50px;
}

.options {
    width: 200px;
}

.board {
    flex: 1;
}